body{
    background-color: rgb(10, 3, 51);
}
table{
    text-align: center;
}
h1{color: rgb(251, 251, 251);}

p{color: rgb(253, 4, 4);}

body{
    background-color: rgb(10, 3, 51);
}

ol{color: rgb(255, 0, 0);}

li{color: rgb(255, 0, 0);}

